
html{
    overflow: hidden;
}

body {
    margin: 0;
    background-image: url('fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
  font-family: 'Le Jour Serif', sans-serif;
  font-size: 10px;


}

@font-face {
  font-family: 'Le Jour Serif';
  src: url('./fonts/fuente2.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





.hidden {
    opacity: 0;
}

.btn-calendario {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.whatsapp-btn {
    display: inline-block;
    background-color: #1B3B6F;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
    font-weight: bold;
}
.sobre-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
}

.sobre {
  width: 100%;
  height: auto;
  display: block;
}

.sello {
  position: absolute;
  width: 30%; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}




.sobre-wrapper{
  position:relative;
  width:90vw;        
  max-width:480px;   
  cursor:pointer;
  user-select:none;
  
}


.sobre{
  width:100%;
  height:auto;
  display:block;
  transition:opacity .6s ease;
}
.sobre.abierto{
  position:absolute;
  inset:0;
  opacity:0;         
}

.sello{
  position:absolute;
  width:28%;         
  top:50%; left:50%;
  transform:translate(-50%, -50%);
  pointer-events:none;  
  z-index:2;
}


.carta{
  position:absolute;
  width:80%;
  height: 100%;
  aspect-ratio:3/2;
  background:#ffffff;
  color:#000;
  border-radius:8px;
  box-shadow:0 4px 16px rgba(0,0,0,.25);
  text-align:center;
  top:50%; left:50%;
  transform:translate(-50%, -50%) translateY(100%); 
  opacity:0;
  transition:
    transform .8s ease .4s,
    opacity   .8s ease .4s;
  z-index:1;
  overflow-y: scroll;
   
}


.sobre-wrapper.open .sobre.cerrado { opacity:0; }
.sobre-wrapper.open .sobre.abierto { opacity:1; }
.sobre-wrapper.open .carta{
  transform:translate(-50%, -50%) translateY(0);   
  opacity:1;
}


@media (max-width:350px){
  .sobre-wrapper{ max-width:320px; }
  .carta{ width:100%; }

}

@media (max-width:780px){

      body{
    background-image: url('fondo2.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    
  }
  html{
    height: 100%;
    width: 100%;
    margin: 0;

  }
 .cel {
  font-size: 15.5px;
  text-align: end;
  
 }
 a{
  text-align: center;
 }
}

.sobre-wrapper.open .sello {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.cartilla{
    width: 100%;

}
.divsillo{
    padding: 1.2rem;
}